.task {
    display: flex;
}

.taskButton {
    padding: 20px 20px 20px 0;
    width: 110px;
}

.taskInput {
    flex: 1;
}

.buttonTodo {
    background-color: #eeeeee !important;
}

.buttonDoing {
    background-color: #fdf09d !important;
}

.buttonDone {
    background-color: #caf8bd !important;
}
